<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        Howdy, {{ user.username }}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                            <a href="{% url 'list_projects' %}">My Projects</a>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Projects</h1>
                <a href="{% url 'create_project' %}">Create a new Project</a>
                {% for project in projects %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <a href="{% url 'show_project' project.id %}">Show Project</a>
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% empty %}
                            <p>You are not assigned to any projects</p>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
